body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #EFF1F3;
    left: 0;
    height: 68px;
    padding: 0px 20px;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2a2a2a;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
    min-width: 300px;
    max-width: 600px; /* Adjusted max-width */
}

.search-container select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.search-box {
    display: flex;
    flex-grow: 1;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

.search-box input {
    width: 100%;
    padding: 8px 40px 8px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-box button {
    position: absolute;
    right: 0px;
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: #002F34;
}

.login-container {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.login-container span {
    margin-right: 20px;
}

.login-container a {
    margin-right: 20px;
    text-decoration: none;
    color: #007bff;
}

.sell-button {
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

nav {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    overflow-x: auto;
    margin-top: 68px;
}

.categories {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.categories li {
    margin-right: 20px;
    cursor: pointer;
}

.categories li:hover {
    color: lightseagreen;
}

.advertisement {
    text-align: center;
    padding: 20px;
    color: #aaa;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)); */
    gap: 20px;
    padding: 50px;
}

.product-card {
    width: 250px;
    height: 264px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

.product-card img {
    width: calc(100% - 10px);
    height: 160px;
    margin: 5px;
}

.product-info {
    padding: 5px;
}

.price {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.product-name {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.address {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 5px;
}

.product-info i {
    color: #007bff;
    cursor: pointer;
    align-self: flex-end;
}

.load-more-container {
    text-align: center;
    padding: 20px 0;
}

.load-more {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.load-more:hover {
    background-color: #0056b3;
}

footer {
    font-size: 14px;
}

.footer-top {
    background-color: rgb(235, 238, 239);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
    min-width: 150px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.footer-column p {
    margin: 5px 0;
}

.app-links {
    display: flex;
}

.app-links img {
    width: 120px;
    margin-top: 10px;
}

.footer-bottom {
    background-color: #002F34;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer-logo-group img {
    margin-right: 30px;
    height: 90px;
}

@media (max-width: 768px) {
    .header-content {
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #EFF1F3;
    }

    .search-container {
        /* order: 2;
        flex-grow: 1;
        min-width: 100%;
        margin: 10px 0; */
        display: none;
    }

    .login-container {
        order: 3;
        width: 100%;
        justify-content: space-between;
        padding: 0 10px;
    }

    .categories {
        display: none;
    }

    .navbar-logo {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 576px) {
    .header-content {
        justify-content: space-around;
        background-color: #EFF1F3;
        /* height: 150px; */
    }

    .login-container {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .search-container {
        order: 2;
        flex-grow: 1;
        min-width: 100%;
        margin: 10px 0;
    }

    .categories {
        display: none;
    }

    .navbar-logo {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
